:root {
  --card-background: #fff;
  --var--hero-width: 700px;
  --var--hero-height: 350px;
}

body {
  padding: 0;
  margin: 0;
}

.custom-f1 {
  font-size: 3rem;
}

#hero .hero--img__sizing {
  width: 250px;
  height: 250px;
  object-position: 0 10px;
  background-color: white;
  object-fit: contain;
  border-radius: 50%;
}

#hero .hero--text-container {
  height: 420px;
  width: 490px;
  background-color: var(--card-background);
}

#hero .hero--card--options--container > button {
  width: 100px;
}

.grid-container {
  display: grid;
  position: relative;
  width: var(--var--hero-width);
  height: var(--var--hero-height);
  grid-template-columns: auto auto auto;
}
.image-text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.image-text > .text-container {
  width: fit-content;
  height: fit-content;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text > .text-container > span {
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.grid-item {
  height: calc(var(--var--hero-height) / 2);
  width: 100%;
}

.grid-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* .grid-item.item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
} */
.grid-item.item-3 {
  height: var(--var--hero-height);
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-item.item-3 > img {
  /* height: 100%; */
  object-fit: fill;
}

/* .grid-item.item-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
} */
