:root {
  --card-background: #fff;
  --var--hero-width: 700px;
  --var--hero-height: 350px;
  --color-secondary: #00d9ff;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.custom-f1 {
  font-size: 3rem;
}

.section-5 {
  margin: 5rem 0;
}
.section__t5-b13 {
  margin: 5rem 0 13rem 0rem;
}
#hero {
  width: 100vw;
}

#hero .hero--img__sizing {
  width: 250px;
  height: 250px;
  object-position: 0 10px;
  background-color: white;
  object-fit: contain;
  border-radius: 50%;
}

#hero .hero--text-container {
  height: 420px;
  width: 490px;
  background-color: var(--card-background);
}

@media screen and (max-width: 480px) {
  #hero .hero--text-container {
    height: 400px;
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
  }
}

#hero .hero--card--options--container > button {
  width: 100px;
}

.grid-container {
  display: grid;
  position: relative;
  width: var(--var--hero-width);
  height: var(--var--hero-height);
  grid-template-columns: auto auto auto;
}
.image-text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.image-text > .text-container {
  width: fit-content;
  height: fit-content;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text > .text-container > span {
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.grid-item {
  height: calc(var(--var--hero-height) / 2);
  width: 100%;
}

.grid-item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid-item.item-3 {
  height: var(--var--hero-height);
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-item.item-3 > img {
  object-fit: fill;
}

/* Cards */
.card__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card--custom {
  border-radius: 7px;
  max-width: 300px;
  height: 400px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  margin: 1rem;
  transition: transform 0.2s ease-out;
}

.card--custom:hover {
  transform: scale(1.05);
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card__body {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}
.card--secondary .badge--secondary {
  background: #02cdf1;
}

@media screen and (max-width: 680px) {
  .card__container {
    flex-direction: column;
  }
  .card--custom {
    max-width: 400px;
    width: 90%;
    height: 440px;
  }
}

/* Plans */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.list {
  padding-left: 1rem;
}
.list__item {
  margin-bottom: 0.2rem;
  list-style: none;
}

.list__item::before {
  content: url("../img/tick.svg");
  margin-right: 1rem;
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 2rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 680px) {
  .plan__name {
    font-size: 2rem;
  }

  .plan__price {
    font-size: 2.5rem;
  }
  .plan__billing-cycle {
    font-size: 1.2rem;
  }
}

/* Footer */

.footer--container {
  aspect-ratio: 900/90;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer--container > .icons-container {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.footer--container > .icons-container > i {
  align-self: center;
  font-size: 1.5rem;
}

.footer-options > li {
  margin-left: 1rem;
}

.carousel-container {
  display: flex;
  width: 600px;
  height: 300px;
  margin: auto;
  overflow: hidden;
}

.carousel-slider {
  --slide--number: attr(data-slide);
  display: flex;
  width: 600px;
  position: relative;

  transition: all 1000ms;
  transform: translateX(calc(var(--slide--number) * -600px));
}

.carousel {
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 600px) {
  .carousel-container {
    width: 100%;
    margin: auto;
  }

  .carousel-slider {
    width: 100%;
    transform: translateX(calc(var(--slide--number) * -100%));
  }
  .carousel-slider > div {
    width: 100%;
    min-width: 100%;
  }

  .carousel {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    height: 350px;
  }
}
/* spacers */

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer-1 {
  background-image: url("../img//spacer-1.svg");
  z-index: 999;
}

.layer-2 {
  background-image: url("../img//spacer-2.svg");
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .spacer {
    aspect-ratio: 400/100;
    width: 100%;
  }
}

/* Testimonial */

/* Request form */

.requestForm--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

@media screen and (max-width: 600px) {
  .requestForm--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2 fr;
    grid-gap: 50px;
  }
  .requestForm--container > div {
    width: 95%;
    margin: auto;
  }
  .requestForm--container > div > img {
    width: 100%;
  }
}
